body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.header ul{
    display: flex;
    gap: 24px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}